{%extends "layout.html" %}
{% block body%}
<h1 style="font-size:50px;">Privacy Policy</h1>

Welcome to our website! We value your privacy and ensure that your personal information is protected whenever you visit our site. Our privacy policy outlines what we collect from you and how it can benefit you. Here are some features that make our website stand out:

<h2>No Signup/Signup</h2>

You don't need to register or create an account to use our website. You're free to enjoy browsing without giving away your personal information.

<h2>No Cookies</h2>

We do not use cookies on our website. A cookie is a small text file that a website stores on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size, and other display preferences) over a period of time, so you don't have to keep re-entering them whenever you come back to the site or browse from one page to another.

<h2>Information Collection</h2>

We may collect certain non-personal information about your visit to our website. This information helps us to improve the user experience by making our site more user-friendly. By understanding how visitors use our site, we can tailor it to meet their needs and preferences.

<h2>Third-Party Links</h2>

Our website contains links to third-party websites and services. These sites have their own privacy policies, and we do not accept any responsibility or liability for their policies or practices. However, we carefully select these sites to ensure that they offer valuable content related to our website's focus.


<h2>Changes to this Privacy Policy</h2>

We reserve the right to update or modify this privacy policy at any time without prior notice. It is your responsibility to review this policy periodically for changes. Your continued use of our site after any modifications or revisions to this policy will signify your acceptance of the changes.

Overall, we want to make sure that you have a positive experience on our website. Thank you for choosing us as your online destination!





{%endblock%}