{%extends "layout.html"%}
{%block body%}
<h1 style="font-size:50px;">Terms and Conditions</h1>
Welcome to our website! By accessing or using our website, you agree to be bound by the following terms and conditions. If you do not agree with any part of these terms and conditions, please do not use our website.
<ul>
<li><h2>Content:</h2> All content hosted on this website, including but not limited to text, graphics, logos, images, videos, audio clips, data compilations, and software, is the property of our company and is protected by copyright laws.</li>

<li><h2>Use of Content:</h2> You may only use the content on this website for personal and non-commercial purposes. You may not copy, reproduce, modify, distribute, display, perform, publish, license, create derivative works from, transfer, or sell any information, software, products, or services obtained from this website without our prior written consent.</li>

<li><h2>User Conduct:</h2> You agree to use this website in accordance with all applicable laws and regulations. You also agree not to engage in any conduct that would interfere with the operation or security of this website, including but not limited to hacking, spamming, or distributing malware.</li>

<li><h2>Affiliate Links:</h2> Please note that all product links on this website are affiliate links. This means that if you click on a link and make a purchase, we may receive a commission at no additional cost to you. We only promote products that we believe in and that we think will be helpful to our users.</li>

<li><h2>Product Reviews:</h2> Our website may feature product reviews. Please note that these reviews are based on our own experiences and opinions, and we may receive compensation for reviewing certain products.</li>

<li><h2>Disclaimer:</h2>We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</li>

<li><h2>Limitation of Liability:</h2>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.</li>

<li><h2>Indemnity:</h2>You agree to indemnify and hold us harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of these terms and conditions or your violation of any law or the rights of a third party.</li>
</ul>
All rights reserved. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the owner, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.
{% endblock %}